<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Админка</title>
</head>
<body>
<header>
</header>
<section>
    <h1> Админка </h1>
    <form method="post" action="admin.php" enctype="multipart/form-data">
        <label>Логин</label>
        <input type="text" placeholder="Логин" name="login">
        <label>Пароль</label>
        <input type="password"  placeholder="Пароль" name="password">
        <input type="submit" name="inp" value="Вход"></br></br>
        <p>{{ err }}</p>
    </form>
</section>
</body>
</html>