<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
</header>
<section>
        <label>Спасибо за вопрос, мы обязательно ответим на него.</label>
        <a href="index.php">Вернуться к списку вопросов</a>
</section>
</body>
</html>